<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="impl.AcademyInfoImpl">
 
	<!-- 회원로그인 -->
	<select id="memberLogin" resultType="dto.MembersDTO"
		parameterType="dto.MembersDTO">
		SELECT * FROM Members
		<if test="!id.equals('') and id!=null">
			<if test="!pass.equals('') and pass!=null">
				where id=#{id} AND pass=#{pass}
			</if>
		</if>
	</select>
	
</mapper>